*{
    margin:0;
    padding:0;
}

.bluebg {
    background-color: blue;
}

.white {
    color: white;
}

h1 {
    padding: 20px;

}

div {
    display: inline-block;
    margin: 20px;
    border: 2px solid black;
    background-color: blue;
}